<div>
    <label style="padding-right: 10px;">Select the Theme: </label><label>{{ this.appDataService.userName}}</label><br/>
    <button type="button" (click)="updateTheme('red')" class="btn btn-primary">Red Theme</button>
    <button type="button" (click)="updateTheme('green')" class="btn btn-primary">Green Theme</button>
    <button type="button" (click)="updateTheme('orange')" class="btn btn-primary">Orange Theme</button>
    <button type="button" (click)="updateTheme('brown')" class="btn btn-primary">Brown Theme</button>
</div>